.header_cell {
  display: flex;
  flex-direction: row;
  /*border-width: 2px;
    border-style:double;
    border-color:red; */
  font-weight: bold;
  white-space: nowrap; /*not go to next line*/
  overflow: hidden; /*don't show after the element border*/
  /*text-overflow: ellipsis; put dots at the end of the text if it overflows*/
  display: inline-block;
  position: relative;
  font-family: Arial, sans-serif;
}

/*

.header_cell::after {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  width:40%;
  content:'';
  background:-moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
  background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background:-o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background:-ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background:linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}
*/
