.login{
   background-color: #ffff;
   width:400px;
   box-shadow: 0px 1px 16px 0 rgb(0, 0, 0,0.36);

   /*box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.15);*/
   margin: 100px auto;
   border-radius: 4px;
} 

.label_format{
   margin:0px 0px 0px 10px;
   padding: 0px;
}

.input_format{
   margin: 0px 0px 20px 10px;
   padding: 0px;
   width: calc(100% - 20px);
   box-sizing: border-box;
}

.input_buton{
   margin: 0px 0px 15px 0px;
}