.top_bar{
   padding: 1em;
    background-color: #3a3632;   
}
.content{
     background-color: #f5f4f2;
     border-width: 2px;
     border-style: double;
     border-color: black; 
     height: calc(100vh - 4em); 
     box-sizing: border-box; 
     flex-wrap: wrap;
 }

 .top_bar_txt{
    color:#dddcdc; 
    font-size: 1.5em;  
 } 